body{
    
    font-family:monospace;
     background-image: url("49.jpg");
    background-size:cover;
    
}

h1{
    text-align: center;
    font-family:cursive;
    font-size: 52px;
    color:rgba(83, 135, 108,0.9);
}

h3{
    color: whitesmoke;
}
 
.contact{
    background-color:rgba(254, 254, 254,0.9);
    color: rgba(83, 135, 108,1);
    padding-bottom: 10px;
    padding-top: 10px;
    
    
}


#form{
    
    text-align: center;
    color: white;
    background-color:rgba(83, 135, 108,0.9);
    width:50%;
    margin-right: auto;
    margin-left: 20%;
    margin-top: 30px;
    border-style: solid;
    border-color: 254, 254, 254, 0.5;
    margin-bottom: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.anim {
  text-align: center;
    color: whitesmoke;
    font-size: 16px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:rgba(83, 135, 108,0.9); left:0px; top:0px;}
  25%  {background-color:rgba(83, 135, 108,0.7); left:200px; top:0px;}
  50%  {background-color:rgba(83, 135, 108,0.5); left:400px; top:0px;}
  75%  {background-color:rgba(83, 135, 108,0.3); left:600px; top:0px;}
  100% {background-color:rgba(83, 135, 108,0.1); left:800px; top:0px;}
}
.anim2 {
  text-align: center;
    color: whitesmoke;
    font-size: 16px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
  0%   {background-color:rgba(83, 135, 108,0.9); left:0px; top:0px;}
  25%  {background-color:rgba(83, 135, 108,0.7); left:100px; top:0px;}
  50%  {background-color:rgba(83, 135, 108,0.5); left:300px; top:0px;}
  75%  {background-color:rgba(83, 135, 108,0.3); left:500px; top:0px;}
  100% {background-color:rgba(83, 135, 108,0.1); left:700px; top:0px;}
}


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4D7D58;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #FFF;
}

.button:hover {background-color: #395C41}

.button:active {
  background-color: #395C41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}


#text{
    animation-name: text;
    display: block;
    position: relative;
    width:50%;
    margin-right: auto;
    margin-left: 20%;
    background-color:rgba(83, 135, 108,0.9);
    color: white;
   text-align: center;
    border-style:solid;
    border-color: 83, 135, 108, 0.5;
    box-shadow: 5px 5px 2px #53876C;
}

#text2{
    display: block;
    position: center;
    width:50%;
    margin-right: auto;
    margin-left: 45%;
    margin-top: 30px;
    background-color:rgba(83, 135, 108,0.9);
    color: white;
   text-align: center;
    border-style:solid;
    border-color: 83, 135, 108, 0.5;
    box-shadow: 5px 5px 2px #53876C;
}




img{
    
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: auto;
    max-width: 25%;
    height: auto;
    border-style:solid;
    border-color: whitesmoke;
    box-shadow: 5px 5px 2px whitesmoke;
}

ul {
  width:100%;
  top: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5C9678;
  opacity: 0.8;
    
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #E8ACAE;
}

.active {
  background-color: #E1A2A5;
}
footer{
    color: white;
}