body{
    
    font-family:monospace;
     background-image: url("50.jpg");
    background-size: cover; 
    
}

h1{
    text-align: center;
    font-family:cursive;
    font-size: 52px;
    color:rgba(83, 135, 108,0.9);
}
 
#CV
{
    height:100%;
    width:100%;
    margin:auto;
}

#pic
{


}
#Formation
{
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    float:left;
    margin-left: 20px;
    width:30%;
    height:100%;
    animation-name: text;
    display: block;
    position: relative;
    width:50%;
    margin-right: auto;
    margin-left: 20%;
    background-color:rgba(83, 135, 108,0.9);
    color: white;
    border-style:solid;
    border-color: 83, 135, 108, 0.5;
    box-shadow: 5px 5px 2px #53876C;
}
#Experiences
{
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
   
    float:left;
    width:50%;
    height:100%;
    
        display: block;
    position: center;
    width:50%;
    margin-right: auto;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:rgba(83, 135, 108,0.9);
    color: white;
   
    border-style:solid;
    border-color: 83, 135, 108, 0.5;
    box-shadow: 5px 5px 2px #53876C;
}
#Competences
{
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
   
    float:left;
    margin-left: 20px;
    width:30%;
    height:100%;
    
    
    animation-name: text;
    display: block;
    position: relative;
    width:50%;
    margin-right: auto;
    margin-left: 20%;
    margin-bottom: 50px;
    background-color:rgba(83, 135, 108,0.9);
    color: white;

    border-style:solid;
    border-color: 83, 135, 108, 0.5;
    box-shadow: 5px 5px 2px #53876C;
}

img{
    
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: auto;
    max-width: 25%;
    height: auto;
    border-style:solid;
    border-color: whitesmoke;
    box-shadow: 5px 5px 2px whitesmoke;
}

ul {
  width:100%;
  top: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5C9678;
  opacity: 0.8;
    
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #E8ACAE;
}

.active {
  background-color: #E1A2A5;
}

footer{
    margin-top: 200px;
    color: white;
}
.anim {
  text-align: center;
  margin-bottom: 150px;
    color: whitesmoke;
    font-size: 16px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:rgba(83, 135, 108,0.3); left:0px; top:0px;}
  25%  {background-color:rgba(83, 135, 108,0.2); left:200px; top:0px;}
  50%  {background-color:rgba(83, 135, 108,0.2); left:400px; top:0px;}
  75%  {background-color:rgba(83, 135, 108,0.1); left:600px; top:0px;}
  100% {background-color:rgba(83, 135, 108,0.1); left:800px; top:0px;}
}
.anim2 {
  text-align: center;
  margin-bottom: 150px;
    color: whitesmoke;
    font-size: 16px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
  0%   {background-color:rgba(83, 135, 108,0.3); left:0px; top:0px;}
  25%  {background-color:rgba(83, 135, 108,0.2); left:100px; top:0px;}
  50%  {background-color:rgba(83, 135, 108,0.2); left:300px; top:0px;}
  75%  {background-color:rgba(83, 135, 108,0.1); left:500px; top:0px;}
  100% {background-color:rgba(83, 135, 108,0.1); left:700px; top:0px;}
}
.anim3 {
  text-align: center;
  margin-bottom: 150px;
    color: whitesmoke;
    font-size: 16px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
  0%   {background-color:rgba(83, 135, 108,0.3); left:0px; top:0px;}
  25%  {background-color:rgba(83, 135, 108,0.2); left:300px; top:0px;}
  50%  {background-color:rgba(83, 135, 108,0.2); left:500px; top:0px;}
  75%  {background-color:rgba(83, 135, 108,0.1); left:700px; top:0px;}
  100% {background-color:rgba(83, 135, 108,0.1); left:900px; top:0px;}
}